---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/foobara.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 12 Sep 2026 00:32:35 GMT
      X-Backend:
      - F_Rails 54.188.214.68:443
      Etag:
      - '"802053de6c841c4f0336c92e4dfd8a32"'
    body:
      encoding: ASCII-8BIT
      string: '[{"authors":"Miles Georgi","built_at":"1980-01-02T00:00:00.000Z","created_at":"2026-09-12T00:32:34.505Z","description":"A
        command-centric and discoverable software framework with a focus on domain
        concepts and abstracting away integration code","downloads_count":551,"metadata":{"homepage_uri":"https://foobara.org","changelog_uri":"https://github.com/foobara/foobara/blob/main/CHANGELOG.md","source_code_uri":"https://github.com/foobara/foobara","rubygems_mfa_required":"true"},"number":"0.6.3","summary":"A
        command-centric and discoverable software framework with a focus on domain
        concepts and abstracting away integration code","platform":"ruby","rubygems_version":">=
        0","ruby_version":">= 3.4.0, < 4.1","prerelease":false,"ruby_abi":null,"licenses":["MPL-2.0"],"requirements":[],"sha":"76ab29d0c170999c676c165e10535a8e5946355ca9e2c2090caab28e3f0f7c20","spec_sha":"062ac237262336602b173b9be856111c8ba8f523d10d883396e5957c10587ceb"},{"authors":"Miles
        Georgi","built_at":"1980-01-02T00:00:00.000Z","created_at":"2026-08-24T22:54:04.223Z","description":"A
        command-centric and discoverable software framework with a focus on domain
        concepts and abstracting away integration code","downloads_count":600,"metadata":{"homepage_uri":"https://foobara.org","changelog_uri":"https://github.com/foobara/foobara/blob/main/CHANGELOG.md","source_code_uri"[...]
