---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foobara.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.218.128.248:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"foobara","downloads":92084,"version":"0.6.3","version_created_at":"2026-09-12T00:32:34.505Z","version_downloads":551,"platform":"ruby","ruby_abi":null,"authors":"Miles
        Georgi","info":"A command-centric and discoverable software framework with
        a focus on domain concepts and abstracting away integration code","licenses":["MPL-2.0"],"metadata":{"homepage_uri":"https://foobara.org","changelog_uri":"https://github.com/foobara/foobara/blob/main/CHANGELOG.md","source_code_uri":"https://github.com/foobara/foobara","rubygems_mfa_required":"true"},"yanked":false,"sha":"76ab29d0c170999c676c165e10535a8e5946355ca9e2c2090caab28e3f0f7c20","spec_sha":"062ac237262336602b173b9be856111c8ba8f523d10d883396e5957c10587ceb","project_uri":"https://rubygems.org/gems/foobara","gem_uri":"https://rubygems.org/gems/foobara-0.6.3.gem","homepage_uri":"https://foobara.org","wiki_uri":null,"documentation_uri":null,"mailing_list_uri":null,"source_code_uri":"https://github.com/foobara/foobara","bug_tracker_uri":null,"changelog_uri":"https://github.com/foobara/foobara/blob/main/CHANGELOG.md","funding_uri":null,"dependencies":{"development":[],"runtime":[{"name":"bigdecimal","requirements":">=
        0"},{"name":"foobara-lru-cache","requirements":"< 2.0.0"},{"name":"foobara-util","requirements":"<
        2.0.0"},{"name":"inheritable-thread-vars","requirements":"< 2.0.0"}]}}'
  recorded_at: Tue, 15 Sep 2026 19:33:56 GMT
recorded_with: VCR 6.4.0
